<h1><%- title %></h1>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<div class="form-container">
    <form name="inventoryForm" action="/inv/inventory-review" method="POST">
        <label for="classification">Classification:</label>
        <input type="text" id="classification" name="classification"  value="<%=classification%>" readonly>

        <label for="make">Make:</label>
        <input type="text" id="make" name="make"  value="<%=inv_make%>" readonly>

        <label for="model">Model:</label>
        <input type="text" id="model" name="model" value="<%=inv_model %>" readonly>

        <label for="year">Year:</label>
        <input type="text" id="year" name="year" value="<%=inv_year %>" readonly>

        <label for="description">Description:</label>
        <textarea id="description" name="description" readonly><%= inv_description %></textarea>
        
        <label for="image_path">Image Path:</label>
        <input type="text" id="image_path" name="image_path" value="<%= inv_image %>" readonly>

        <label for="thumbnail_path">Thumbnail Path:</label>
        <input type="text" id="thumbnail_path" name="thumbnail_path" value="<%= inv_thumbnail %>" readonly>

        <label for="price">Price:</label>
        <input type="text" id="price" name="price" value="<%=inv_price %>" readonly>

        <label for="miles">Miles:</label>
        <input type="text" id="miles" name="miles" value="<%=inv_miles %>" readonly>

        <label for="color">Color:</label>
        <input type="text" id="color" name="color" value="<%=inv_color %>">

        <input type="hidden" id="inv_id" name="inv_id" value="<%=inv_id %>">
        <input type="hidden" id="action" name="action" value="">

        <div>
            <button type="submit" onclick="submitForm('approve')">Approve</button>
            <button type="submit" value="reject" onclick="submitForm('reject')">Reject</button>
        </div>
    </form>
</div>

<script src="../../js/inventory-review.js"></script>
